@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Noto Sans KR", sans-serif;
	background-color: #efe7e3;
	min-width: 480px;
}

h2 {
	color: #fd007f;
}

a {
	color: midnightblue;
	text-decoration: none;
}

.wrap {
	margin: 3% 25%;
}

.nav-menu:hover,
.nav-menu.active {
	color: #fd007f;
	transition: 0.3s;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo a {
color: #c2b4ab;
}

.navigator {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.navigator li {
	display: inline;
	align-self: center;
	margin: 0;
	margin-left: 15px;
}

.nav_menu {
	font-weight: 400;
	font-size: 16px;
}

.intro {
	position: relative;
	margin-top: 100px;
	margin-bottom: 100px;
}

.hello_imogi {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 30%;
}

.sample {
	background-color: pink;
}

.sample:hover {
	background-color: transparent;
	color: white;
	-webkit-text-stroke: 1px black;
	transition: none;
}

.highright {
	color: white;
	-webkit-text-stroke: 1px black;
	transition: none;
}

.highright:hover {
	background-color: pink;
	-webkit-text-stroke: 0.2px black;
	color: black;
	transition: none;
}

.type1:hover {
	background-color: rgb(225, 255, 164);
}
.type2:hover {
	background-color: rgb(172, 220, 239);
}
.type3:hover {
	background-color: rgb(255, 191, 255);
}

.english_comment {
	font-weight: 100px;
	font-size: 15px;
	font-style: italic;

	letter-spacing: -0.3px;
	margin-top: 40px;
	color: gray;
}

/* # ABOUT page */
.profile-section {
	margin: 100px 0;
}
.profile-section h2 {
	font-size: 35px;
	margin-bottom: 3%;
}

.introduction {
	display: flex;
}

.introduction .text p {
	font-weight: 400;
	font-size: 16px;
	font-style: italic;
	line-height: 30px;
	margin-bottom: 30px;
	font-family: "Montserrant", sans-serif;
	color: #666;
}

.profile-picture {
	width: 400px;
	margin-right: 60px;
}

.profile-picture img {
	width: 100%;
}

.introduction > p {
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 40px;
}

.comment {
	display: inline;
	font-weight: 700;
	font-size: 25px;
}

.value_section {
	margin: 100px 0;
}
.value {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	align-items: center;
}

.value_name {
	font-weight: 700;
	margin-bottom: 5px;
	margin-left: 16px;
}

.value_comment {
	margin-left: 16px;
	font-weight: 300;
	font-size: 16px;
	font-family: "Montserrant", sans-serif;
	color: #666;
}

.precious_icon {
	width: 120px;
	height: 120px;
	padding: 15px;
	border: 2px solid #c2b4ab;
	border-radius: 100px;
}

/* hobby */

.hobby {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10%;
}

.hobby_menu {
	font-size: 35px;
	margin: 30px 0;
	margin-top: 0px;
}

.hobby_section {
	margin: 100px 0;
}

.hobby_icon {
	width: 45%;
}

.hobby_intro {
	width: 50%;
}

.hobby_name {
	font-size: 30px;
	margin-bottom: 30px;
}

.hobby_comment {
	font-size: 16px;
	font-weight: 100;
	font-family: "Montserrant", sans-serif;
	color: #666;
}

/* Information */
.infor_section {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}

.infor_section h2 {
	font-size: 35px;
	margin: 30px 0;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

.infor {
	margin-bottom: 20px;
}

.career h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

.career p {
	font-size: 16px;
	margin-bottom: 10px;
	font-family: "Montserrant", sans-serif;
	color: #666;
	line-height: 1.8;
}

/* footer */
.footer {
	margin-top: 15%;
	margin-bottom: 100px;
}
.footer .informations {
	text-align: center;
	margin-top: 10px;
}

.footer_contect {
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	color: black;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

.footer .informations a {
	font-size: 18px;
	font-weight: 400;
}

.footer .informations a:hover {
	color: pink;
}

.my_mail {
	font-size: 18px;
	font-weight: 400;
	color: black;
}

.my_mail:hover {
	color: gray;
}

#contents {display: none;}
#contents.active {display: block;}

@media screen and (max-width: 767px) {
	.wrap {
		margin: 5%;
	}
	.logo {
		font-size: 24px;
	}

	.comment {
		font-size: 18px;
	}
	.wrap h2 {
		font-size: 28px;
	}
	.introduction {
		flex-direction: column;
	}
	.profile-picture {
		margin: 0;
		width: 100%;
	}
	.value {
		flex-direction: column;
		margin-top: 10%;
	}
	.value_name {
		margin-left: 0;
		margin-top: 5%;
	}
	.value_comment {
		margin-left: 0;
	}
	.hobby {
		flex-direction: column;
		margin-bottom: 20%;
	}
	.hobby.reverse {
		flex-direction: column-reverse;
	}
	.hobby .hobby_icon {
		width: 100%;
	}
	.hobby .hobby_intro {
		width: 100%;
		margin-top: 5%;
	}
	.hobby_name {
		font-size: 20px;
		margin-bottom: 2%;
	}
	.career p {
		font-size: 14px;
	}
	.footer_contect {
		font-size: 28px;
	}
}
